name: CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          # emsdk seems to be using Node 22 at the moment so align with that
          node-version: 22

      - name: Install deps
        run: pnpm install

      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v14

      - name: Setup wabt (for wasm-strip)
        uses: chiefbiiko/setup-wabt@1

      - name: Check wasm-strip version
        run: wasm-strip --version

      - name: Fetch SQLite source
        run: pnpm run fetch

      - name: Build
        run: pnpm build
