name: CI
on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 24

      - name: Install deps
        run: pnpm install

      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v14

      - name: Fetch SQLite source
        run: pnpm run fetch

      - name: Build
        run: pnpm build
